{% extends 'client/layout.html' %}
{% load static %}
{% block content %}

<div class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="page-caption">
						<h2 class="page-title">About Us</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-breadcrumb">
		<div class="container">
			<div class="col-lg-12">
				<ol class="breadcrumb">
					<li><a href="#">Home</a></li>
					<li class="active">About Us</li>
				</ol>
			</div>
		</div>
	</div>
	<br>


			 

<div class="container-fluid py-5">
		<div class="container py-5">
			<div class="row">
				<div class="col-lg-6" style="min-height: 500px;">
					<div class="position-relative h-100 rounded overflow-hidden">
						<img class="position-absolute w-100 h-100" src="{% static 'client/images/feature.jpg' %}" style="object-fit: cover;">
					</div>
				</div>
				<div class="col-lg-6 pt-5 pb-lg-5" style="margin-top: 20px;">
					<div class="feature-text bg-white rounded p-lg-5">
						<h6 class="text-uppercase" style="font-size: 16px; font-weight: bold;">Our Features</h6>
						<h1 class="mb-4" style="font-size: 40px; font-weight: bold;">Why Choose Us</h1>
						<div class="d-flex mb-4">
							<div class="btn-primary1 btn-lg-square px-3" style="border-radius: 50px;">
								<h5 class="text-secondary m-0" style="font-size: 20px; font-weight: 500; margin-block-start: 1.67em;
	margin-block-end: 1.67em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;">01</h5>
							</div>
							<div class="ml-4" style="margin-bottom: 10px;">
								<h5 style="font-size: 20px; font-weight: 500;">Best Law Practices</h5>
								<p class="m-0" style="font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #757575; font-family: sans-serif;">Our firm has a team of highly skilled and experienced lawyers who specialize in various areas of the law. </p>
							</div>
						</div>
						<div class="d-flex mb-4">
							<div class="btn-primary1 btn-lg-square px-3" style="border-radius: 50px;">
								<h5 class="text-secondary m-0" style="font-size: 20px; font-weight: 500; margin-block-start: 1.67em;
	margin-block-end: 1.67em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;">02</h5>
							</div>
							<div class="ml-4" style="margin-bottom: 10px;">
								<h5 style="font-size: 20px; font-weight: 500;">Reputation</h5>
								<p class="m-0" style="font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #757575; font-family: sans-serif;">We have a stellar reputation within the legal community and among our clients. Our track record of success speaks for itself.</p>
							</div>
						</div>
						<div class="d-flex">
							<div class="btn-primary1 btn-lg-square px-3" style="border-radius: 50px;">
								<h5 class="text-secondary m-0" style="font-size: 20px; font-weight: 500; margin-block-start: 1.67em;
	margin-block-end: 1.67em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;">03</h5>
							</div>
							<div class="ml-4">
								<h5 style="font-size: 20px; font-weight: 500;">Results-driven</h5>
								<p class="m-0" style="font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #757575; font-family: sans-serif;">We are committed to achieving the best possible outcome for our clients. We work tirelessly to ensure that your legal matter is resolved in the most favorable manner possible.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><br><br>


<div class="container">
			<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="mb30">
						<h1 class="mb20">About Our Firm</h1>
						<p style="font-size: 18px;">Welcome to our law firm! We are a team of experienced attorneys dedicated to providing exceptional legal services to individuals and businesses alike. With a focus on integrity, professionalism, and compassion, we work tirelessly to ensure that our clients receive the best possible outcome for their legal matters.</p>

						<p style="font-size: 18px;">At our law firm, we believe that every client deserves personalized attention and tailored legal solutions. We take the time to understand your unique circumstances and develop strategies that meet your specific needs and goals. Our attorneys are committed to maintaining open lines of communication with our clients and keeping them informed throughout the entire legal process.</p>

						<p style="font-size: 18px;">We understand that navigating the legal system can be overwhelming, but we are here to help. Let our experienced attorneys guide you through the process and advocate for your rights every step of the way. Contact us today to schedule a consultation and learn how we can assist you with your legal needs.</p>
					</div>
					<div class="bdr-btm"></div>
				</div>
</div></div>   







{% endblock %}