{% extends 'client/layout.html' %}
{% load static %}
{% block content %}



<div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-caption">
                        <h2 class="page-title">Give us Your valuable Feedback</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-breadcrumb">
        <div class="container">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Feedback</li>
                </ol>
            </div>
        </div>
    </div>

    {% if messages %}
    <ul class="messages" style="height: 80px; background-color: lightgrey;">
        {% for message in messages %}

        <li style="font-size: 25px; list-style: none; line-height: 80px; font-weight: bolder; color: #37373F;" class="text-center" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="widget widget-contact">
                        <!-- widget search -->
                        <h3 class="widget-title">Contact Info</h3>
                        <address>
                          <strong>Flower.</strong><br>
                          1355 Market Street, Suite 900<br>
                          San Francisco, CA 94103<br>
                          <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
                        <address>
                          <strong>Contact Name</strong><br>
                          <a href="mailto:#">yourdomain@gmail.com</a>
                        </address>
                         
                    </div>
                    <!-- /.widget search -->
                    <div class="widget widget-social">

                        <div class="social-circle">
                             <a href="#" class="#"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="#"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                       
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1>Feedback Form</h1>
                        <p> Give us your valuable feedback. We'll do everything we can to respond to you as quickly as possible.</p>
                        <form method="post" action="/client/feedback_store">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label" for="case">Select Case</label>
                                    <select class="form-control" for="case" name="case">
                                        {% for res in client %}
                                            {% if res.user_id == user.id %}
                                                {% for row in cases %}
                                                    {% if row.client_id == res.id %}     
                                                        <option value="{{row.id}}">{{row.title}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <!-- <input type="text" name="case" id="case" placeholder="" class="form-control"> -->
                                </div>
                                <div class="col-sm-6">                                   
                                    <label class="control-label">Give Rating</label>
                                    <div style="height: 20px; width: auto; margin-top: 10px;">
                                            <input type="radio" name="rating" value="1" style="width: 17px;  height: 17px; margin-left: 18px;">
                                            <label class="control-label" style="font-size: 18px; vertical-align: top; padding-left: 5px;">1</label>
                                            
                                            <input type="radio" name="rating" value="2" style="width: 17px; height: 17px; margin-left: 18px;"> 
                                            <label class="control-label" style="font-size: 18px; vertical-align: top; padding-left: 5px;">2</label>
                                            
                                            <input type="radio" name="rating" value="3" style="width: 17px; height: 17px; margin-left: 18px;">
                                            <label class="control-label" style="font-size: 18px; vertical-align: top; padding-left: 5px;">3</label>
                                            
                                            <input type="radio" name="rating" value="4" style="width: 17px; height: 17px; margin-left: 18px;">
                                            <label class="control-label" style="font-size: 18px; vertical-align: top; padding-left: 5px;">4</label>
                                            
                                            <input type="radio" name="rating" value="5" style="width: 17px; height: 17px; margin-left: 18px;">
                                            <label class="control-label" style="font-size: 18px; vertical-align: top; padding-left: 5px;">5</label>  
                                    </div>

                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label" for="textarea">Message</label>
                                            <textarea class="form-control" id="message" name="message" rows="4" placeholder=""></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <button id="singlebutton" name="singlebutton" class="btn btn-default">Give Feedback</button>
                                            
                                        </div>
                                    </div>

                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


{% endblock %}