{% load static %}
<div class="footer">
        <div class="container">
            <div class="row">
                <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-widget widget-newsletter">
                        <h2 class="widget-title">Newsletters</h2>
                        <p>Enter your email address to receive new patient information and other useful information right to your inbox.</p>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Email Address">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Subscribe</button>
                           </span>
                        </div>
                        
                    </div>
                </div> -->

                <div class="col-lg-2 col-md-3 col-sm-2 col-xs-12">
                    <div class="footer-widget">
                        <h2 class="widget-title">Quick Links</h2>
                        <ul class="listnone">
                            <li><a href="/client/home">Home </a></li>
                            <li><a href="/client/about">About Us</a></li>
                            <li><a href="/client/cases">Cases</a></li>
                            <li><a href="/client/appointment">Appointment</a></li>
                            <li><a href="/client/feedback">Feedback</a></li>
                            <!-- <li><a href="#">Acunpuncture</a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <div class="footer-widget footer-social">
                        <h2 class="widget-title">Social Feed</h2>
                        <ul class="listnone">
                            <li><a href="#"> <i class="fa fa-facebook"></i> Facebook  </a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i> Google Plus</a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i> Linked In</a></li>
                            <li><a href="#"> <i class="fa fa-youtube"></i>Youtube</a></li>
                           
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-2 col-sm-2 col-xs-12">
                    <div class="footer-widget footer-social">
                        <h2 class="widget-title">Clinic Address</h2>
                        <ul class="listnone contact">
                            <li><i class="fa fa-map-marker"></i> 4958 Norman Street Los Angeles, CA 90042
                            </li>
                            <li><i class="fa fa-phone"></i> +00 (800) 123-4567</li>
                            <li><i class="fa fa-fax"></i> +00 (123) 456 7890</li>
                            <li><i class="fa fa-envelope-o"></i> info@gastrology.com</li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>


    </div>
    

