{% extends 'client/layout.html' %}
{% load static %}
{% block content %}

<div class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h1 class="hero-title"> Empowering You with Expert Legal Advice</h1>
                    <p class="hero-text">Welcome to our law firm, where we delve into the intricacies of the legal world and provide insights on how to navigate it with confidence, our team of experienced lawyers is here to help you achieve your goals.
                    </p>
                    <a href="/client/about" class="btn btn-default">More About us</a>
                </div>
            </div>
        </div>
    </div>
    <div class="space-medium">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="mb60 text-center section-title">
                        <!-- section title start-->
                        <h5>Your Legal Journey Starts Here</h5>
                        <h1>Wide Range of Legal Advice Servicee</h1>
                        <p>we will share our expertise on a wide range of legal topics, from corporate law to intellectual property, and everything in between.</p>
                    </div>
                    <!-- /.section title start-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block">
                        <!-- service block -->
                        <div class="service-img mb20">
                            <!-- service img -->
                            <a href="#"><img src="{% static 'client/images/1.jpeg' %}" alt="" class="img-responsive"></a>
                        </div>
                        <!-- service img -->
                        <div class="service-content">
                            <!-- service content -->
                            <h2><a href="#" class="title">Intellectual Property</a></h2>
                            <p>We offer comprehensive Intellectual Property law services to help you protect your creative assets, including trademarks, patents, copyrights, and trade secrets. </p>
                        </div>
                        <!-- service content -->
                    </div>
                    <!-- /.service block -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block">
                        <!-- service block -->
                        <div class="service-img mb20">
                            <!-- service img -->
                            <a href="#"><img src="{% static 'client/images/2.jpeg' %}" alt="" class="img-responsive"></a>
                        </div>
                        <!-- service img -->
                        <div class="service-content">
                            <!-- service content -->
                            <h2><a href="#" class="title">Family Law</a></h2>
                            <p>Our family law services provide compassionate and effective solutions for a variety of family-related legal issues, including divorce, child custody, adoption, and domestic violence.  </p>
                        </div>
                        <!-- service content -->
                    </div>
                    <!-- /.service block -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block">
                        <!-- service block -->
                        <div class="service-img mb20">
                            <!-- service img -->
                            <a href="#"><img src="{% static 'client/images/3.jpeg' %}" alt="" class="img-responsive"></a>
                        </div>
                        <!-- service img -->
                        <div class="service-content">
                            <!-- service content -->
                            <h2><a href="#" class="title">Tax Law Services</a></h2>
                            <p>Our tax law services provide expert guidance and representation to individuals and businesses facing complex tax issues, including audits, appeals, and litigation. </p>
                        </div>
                        <!-- service content -->
                    </div>
                    <!-- /.service block -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block">
                        <!-- service block -->
                        <div class="service-img mb20">
                            <!-- service img -->
                            <a href="#"><img src="{% static 'client/images/4.jpeg' %}" alt="" class="img-responsive"></a>
                        </div>
                        <!-- service img -->
                        <div class="service-content">
                            <!-- service content -->
                            <h2><a href="#" class="title">Insurance Services</a></h2>
                            <p>Our insurance law services provide legal support to individuals and businesses involved in insurance disputes, including coverage disputes, bad faith claims, and subrogation claims.</p>
                        </div>
                        <!-- service content -->
                    </div>
                    <!-- /.service block -->
                </div>
            </div>
        </div>
    </div>
    <div class="space-small bg-primary">
        <!-- call to action -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
                    <h1 class="cta-title">Book your online appointment</h1>
                    <p class="cta-text"> Book appointment today and take the first step towards resolving your legal issues.</p>
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                    <a href="/client/appointment" class="btn btn-white btn-lg mt20">Book appointment now</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.call to action -->
    <!-- <div class="space-medium">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                    <div class="section-title mb60 text-center">
                        
                        <h1>Meet Our Physiotherapist</h1>
                        <p>Pellentesque laoreet sem nisi eget malesuada sem aliquet sit amet ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-3 col-sm-6 col-xs-12">
                    <div class="team-block">
                        
                        <div class="team-img"><img src="images/team-1.jpg"></div>
                        <div class="team-content">
                            <h2 class="team-title">Dr.Sylvia Rosas</h2>
                            <div class="team-meta"><span class="team-designation">Consultant Physician</span></div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-3 col-sm-3 col-sm-6 col-xs-12">
                    <div class="team-block">
                        
                        <div class="team-img"><img src="images/team-2.jpg"></div>
                        <div class="team-content">
                            <h2 class="team-title">Dr.Ray Wilford</h2>
                            <div class="team-meta"><span class="team-designation">Physician</span></div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-3 col-sm-3 col-sm-6 col-xs-12">
                    <div class="team-block">
                        
                        <div class="team-img"><img src="images/team-3.jpg"></div>
                        <div class="team-content">
                            <h2 class="team-title">Dr.Donna Handy</h2>
                            <div class="team-meta"><span class="team-designation">Consultant Physician</span></div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-3 col-sm-3 col-sm-6 col-xs-12">
                    <div class="team-block">
                        
                        <div class="team-img"><img src="images/team-4.jpg"></div>
                        <div class="team-content">
                            <h2 class="team-title">Dr.Terry Cruz</h2>
                            <div class="team-meta"><span class="team-designation">Physician</span></div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="space-medium bg-default">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                    <div class="section-title mb60 text-center">
                        
                        <h1>Our Patient’s Review</h1>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="testimonial-block">
                        
                        <div class="testimonial-content">
                            <p class="testimonial-text">“Helped with my broken knee and a nasty attack of sciatica Wouldn't go anywhere Thanks to the wonderful staff! vitae odio non luctus cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus in tempor.”</p>
                        </div>
                        <div class="testimonial-info">
                            <h4 class="testimonial-name">Rose Jacq</h4>
                            <span class="testimonial-meta">34 Year</span>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="testimonial-block">
                        
                        <div class="testimonial-content">
                            <p class="testimonial-text">“Lorem ipsum dolor sitamet con sectetur adipiscing elitam neclis usce dignissim ex ac fermentum volutpat cras euismod natoque penatibus et magnis dis parturient montes nascetur ridiculus mus in tempor.”</p>
                        </div>
                        <div class="testimonial-info">
                            <h4 class="testimonial-name">Rose Jacq</h4>
                            <span class="testimonial-meta">34 Year</span>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="space-medium">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                    <div class="section-title mb40 text-center">
                        
                        <h1>Latest News &amp; Article</h1>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="post-block">
                        
                        <div class="post-img">
                            <a href="#"><img src="images/post-img.jpg" alt="" class="img-responsive"></a>
                        </div>
                        <div class="post-content">
                            <h2><a href="#" class="title"> Free Physiotherapy Website Templates Download</a></h2>
                            <p class="meta"> <span class="meta-date"><i class="fa fa-calendar"></i> 1 January 2017</span> <span class="meta-comment"><i class="fa fa-comments"></i><a href="#">(12) Comments</a></span> </p>
                            <p>Fusce sed erat libasellus id orci quis ligula pretium congue idet imodo lectus velit, a malesuada urna sodales eu.</p>
                            <a href="#" class="btn btn-default">Read More</a> </div>
                    </div>
                    
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="post-block">
                        
                        <div class="post-img">
                            <a href="#"><img src="images/post-img-1.jpg" alt="" class="img-responsive"></a>
                        </div>
                        <div class="post-content">
                            <h2><a href="#" class="title"> Hospital Website Templates FREE Download</a></h2>
                            <p class="meta"> <span class="meta-date"><i class="fa fa-calendar"></i> 1 January 2017</span> <span class="meta-comment"><i class="fa fa-comments"></i><a href="#">(12) Comments</a></span> </p>
                            <p>Proin fringilla turpis dui, ut semper sem cursus id. Nam id massa commodo, viverra nibh a, iaculis velit.</p>
                            <a href="#" class="btn btn-default">Read More</a> </div>
                    </div>
                   
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="post-block">
                        
                        <div class="post-img">
                            <a href="#"><img src="images/post-img-2.jpg" alt="" class="img-responsive"></a>
                        </div>
                        <div class="post-content">
                            <h2><a href="#" class="title"> Free Website Templates for Physiotherapy</a></h2>
                            <p class="meta"> <span class="meta-date"><i class="fa fa-calendar"></i> 1 January 2017</span> <span class="meta-comment"><i class="fa fa-comments"></i><a href="#">(12) Comments</a></span> </p>
                            <p>Suspendisse quis ultrices felis. Nunc dictum justo sed libero cursus mattis. Phasellus vestibulum eleifend velit id ultricies.
                            </p>
                            <a href="#" class="btn btn-default">Read More</a> </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div> -->


{% endblock %}