{% extends 'adminlawyer/layout.html' %}

{% block content %}


<main class="content">
				<div class="container-fluid p-0">
<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Add New Client</h5>
									<h6 class="card-subtitle text-muted">All the Details are Required to be filled !</h6>
								</div>
								<div class="card-body">
									<form method="post" action="/adminlawyer/client_store" enctype="multipart/form-data">
											{% csrf_token %}
										<div class="row">
											<div class="mb-3 col-md-6">
											<label class="form-label" for="inputAddress">Full Name : </label>
											<input type="text" class="form-control" id="inputAddress" name="client_name" placeholder="">
										</div>

										<div class="mb-3 col-md-6">
											<label class="form-label" for="inputAddress">Email : </label>
											<input type="email" class="form-control" id="inputAddress" name="email" placeholder="">
										</div>

										<div class="mb-3 col-md-6">
											<label class="form-label" for="inputAddress">Address : </label>
											<textarea class="form-control" name="address" rows="2" placeholder="Add Address"></textarea>
										</div>
										<div class="mb-3 col-md-6">
												<label class="form-label" for="inputPassword4">Contact Number : </label>
												<input type="tel" pattern="[0-9]{10}" class="form-control" id="inputPassword4" name="contact" placeholder="">
										</div>	

										<div class="mb-3 col-md-6">
											<label class="form-label" for="inputAddress">User Name : </label>
											<input type="text" class="form-control" id="inputAddress" name="username" placeholder="">
										</div>

										<div class="mb-3 col-md-6">
												<label class="form-label" for="inputPassword4">Photo : </label>
												<input type="file" class="form-control" id="inputPassword4" name="photo" placeholder="">
										</div>
										

											<div class="mb-3 col-md-6">
												<label class="form-label" for="inputEmail4">Password : </label>
												<input type="password" class="form-control" id="myInput" name="password" placeholder="">
												<input type="checkbox" class="form-check-input" onclick="myFunction()">  Show Password
											</div>
											<div class="mb-3 col-md-6">
												<label class="form-label" for="inputPassword4">Date of Birth : </label>
												<input type="date" class="form-control" id="inputZip" name="dob">
											</div>
										
										<!-- <div class="mb-3 col-md-6">
												<label class="form-label" for="inputEmail4">Age : </label>
												<input type="number" class="form-control" id="inputEmail4" name="age" placeholder="">
										</div> -->
										<div class="mb-3 col-md-6">
												<label class="form-label" for="inputPassword4">Gender : </label>
												<div>
			                                        <label class="form-check form-check-inline">
			                                        <input class="form-check-input" type="radio" name="gender" value="Male" style="font-size:1rem;">
			                                        <span class="form-check-label" style="font-size:1rem;">
			                                          Male
			                                        </span>
			                                        </label>

			                                        <label class="form-check form-check-inline">
			                                        <input class="form-check-input" type="radio" name="gender" value="Female" style="font-size:1rem;">
			                                        <span class="form-check-label" style="font-size:1rem;">
			                                          Female
			                                        </span>
			                                        </label>

			                                        <label class="form-check form-check-inline">
			                                        <input class="form-check-input" type="radio" name="gender" value="Other" style="font-size:1rem;">
			                                        <span class="form-check-label" style="font-size:1rem;"> 
			                                          Other
			                                        </span>
			                                        </label>
			                                    </div>
											</div>


										<div class="mb-3 col-md-6">
											<label class="form-label" for="inputPassword4">State : </label>
											<select name="state" class="form-control select2" data-toggle="select2">
												<option>--Select State--</option>
								            {% for u in state %}
												<option value="{{u.id}}" >{{u.state_name}}</option>
											{% endfor %}
								          </select>
										</div>
											

										<div class="mb-3 col-md-4">
											<label class="form-label" for="inputPassword4">City : </label>
											<select name="city" class="form-control select2" data-toggle="select2">
												<option>--Select City--</option>
								            {% for y in city %}
												<option value="{{y.id}}" >{{y.city_name}}</option>
											{% endfor %}
								            </select>
										</div>

											<div class="mb-3 col-md-4">
												<label class="form-label" for="inputPassword4">ZIP Code : </label>
												<input type="number" class="form-control" id="" name="zipcode">
											</div>
										
										</div>
										<button type="submit" class="btn btn-primary" style="font-size:1rem;">Submit</button>
									</form>
								</div>
							</div>
						</div>

					</div></main>
{% endblock %}